td{
	width: 100px;
	height: 100px;
	text-align: center;
	vertical-align: middle;
	border: 3px black solid;
	font-size: 50px;
	user-select: none;
	font-family: "Comic Sans MS";
	background-color: wheat;
}
table{
	margin: auto;
}
button{
	width: 2cm;
	height: 2cm;
}

.special{
	font-size: 1em;
	border: none;
	background-color: transparent;
}
